<h2>New Post</h2>

<form action="/post/new-post" method="post">

    <label>Title:
        <input type="text" name="title" id="title">
    </label>

    <label>description:
        <input type="text" name="description" id="description">
    </label>

    <label>Image Url:
        <input type="text" name="imageUrl" id="imageUrl">
    </label>

    <button type="submit">Share</button>


</form>