<h2>update Post</h2>


<form action="/post/update-post/{{id}}" method="post">

    <label>Title:
        <input type="text" name="title" id="title" value="{{title}}">
    </label>

    <label>description:
        <input type="text" name="description" id="description" value="{{description}}">
    </label>

    <label>Image Url:
        <input type="text" name="imageUrl" id="imageUrl" value="{{imageUrl}}">
    </label>

    <button type="submit">Update</button>


</form>