<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/users/all-builders">Builders</a>
    <a href="/users/profile">Profile</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/logout">Logout</a>
    <a href="/auth/signup">Sign Up</a>


  </nav>
  {{{body}}}
</body>

</html>