body {
  margin: 20px;
  /* padding: 10px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2,
h3,
h4,
h5,
p {
  font-family: 'Special Elite', cursive;
}

a {
  color: #b82f0d;
  font-family: 'Special Elite', cursive;
}

.main-page-picture {
  height: 20vh;
  width: auto;
  margin-bottom: 1vh;
}

.post-details-picture {
  height: 60vh;
  width: auto;
  margin-bottom: 1vh;
}

#profile-pic {
  height: 20vh;
  width: auto;
  border: 1px solid black;
  border-radius: 20px;
  margin: 2% 0;
  box-shadow: 10px 10px 5px lightblue;
}

#all-profile-pic {
  height: 12vh;
  width: auto;
}

#profile-post {
  height: 15vh;
  width: auto;
}

.login-form {
  width: 30vw;
}

.btn {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: 'Special Elite', cursive;
  /* color: #b82f0d; */
  background-color: #918f8e;
  border-color: black;
}

.homepage-page {
  padding: 3%;
  border: 1px solid black;
  width: 30vw;
  border-radius: 30px;
  margin: 3%;
  box-shadow: 10px 10px 5px lightblue;
  background-color: #f0efeb;
}

.builders-tile {
  border: 1px solid black;
  padding: 3%;
  width: 30vw;
  border-radius: 30px;
  margin: 3%;
  box-shadow: 10px 10px 5px lightblue;
  background-color: #f0efeb;
}

.image {
  border-radius: 20px;
}


.input-group {
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin: 10px 10px 30px 10px;
  /* background-color: #f0efeb; */
}

#search-form {
  width: 20vw;
}

#nenew-post-modalwPost {
  display: flex;
}

#post-detail-div {
  width: 80%;
  border: 1px solid black;
  padding: 2%;
  border-radius: 15px;
  margin: 10px 10px 35px 10px;
  box-shadow: 10px 10px 5px lightblue;
  background-color: #f0efeb;
}

#comments {
  width: 80%;
  border: 1px solid black;
  padding: 2%;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 10px 10px 5px lightblue;
  background-color: #f0efeb;
}