body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-page-picture {
  height: 15%;
  width: 15%;
  margin-bottom: 1vh;
}

.post-details-picture {
  height: auto;
  width: 20%;
  margin-bottom: 1vh;
}

#profile-pic {
  height: 20vh;
  width: auto;
}

#all-profile-pic {
  height: 12vh;
  width: auto;
}